<nav>
    <h1>
      <a href="/">Result Management System</a>
    </h1>
  <ul>
    <li>
      <a href="/students">Students</a>
    </li>
    <li>
      <a href="/students/new">New Student</a>
    </li>
  </ul>
</nav>