<div class="sidebar">
  <ul>
    <li>
      <a href="/admin">Admin Home</a>
    </li>
    <li>
      <a href="/students">Students</a>
    </li>
    <li>
      <a href="/grades">Grades</a>
    </li>
    <li>
      <a href="/subjects">Subjects</a>
    </li>
    <li>
      <a href="#">Results</a>
    </li>
    <li>
      <a href="#">Option</a>
    </li>
    <li>
      <a href="#">Option Again</a>
    </li>
  </ul>
</div>