<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>
  <%- include('./partials/nav') %>
  <main>

    <h2>Search For Student Result</h2>
  
    <form action="/students/matric_num" method="GET">
      <label for="matric_num">Matric Num:</label>
      <input type="text" name="matric_num" id="matric_num">
  
      <label for="grade_level">Grade Level:</label>
      <select name="grade_level" id="grade_level">
        <option value="grade_1">Grade 1</option>
        <option value="grade_2">Grade 2</option>
        <option value="grade_3">Grade 3</option>
        <option value="grade_4">Grade 4</option>
        <option value="grade_5">Grade 5</option>
      </select>
  
      <label for="d_o_b">Date of Birth</label>
      <input type="date" name="d_o_b">
  
      <button>Show Result</button>
  
    </form>

  </main>

  <%- include('./partials/footer') %>

</body>
</html>